body {
  font-family: 'Chela One', system-ui !important;
  margin-bottom: 150px !important;
}
#jokeometer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  bottom: 0;
  border-top: 2px solid #ddd;
  box-shadow: 0 0 10px 0 #ddd;
  background-color: #FFF;
}

footer .footer-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.8em;
  color: #666;
  border-top: 1px solid #ddd;
  font-family: 'Fredoka', system-ui !important;
}

/* for bigger screens */
@media (min-width: 768px) {
  footer .footer-notice {
    font-size: 1.3em;
  }
  footer svg {
    width: 20px !important;
    height: 20px !important;
  }
}